* text=auto

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.webp binary
*.pdf binary
*.zip binary
*.phar binary

checkpoints/** export-ignore
dist/** export-ignore
.github/** export-ignore
.idea/** export-ignore
.vscode/** export-ignore

